* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
}

header {
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 125px;
  margin-bottom: 64px;
}

h1 {
  color: #4c545c;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.clipboard {
  color: #9eabb2;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.12px;
  margin: 16px auto 48px auto;
  width: 85%;
  text-align: center;
}

.download {
  display: flex;
  flex-direction: column;
}

.ios-btn {
  margin-bottom: 24px;
  text-decoration: none;
  background-color: #26bba4;
  color: white;
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  border-radius: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  padding: 15px 60px;
}

.ios-btn:hover {
  opacity: 0.75;
}

.mac-btn {
  text-decoration: none;
  background-color: #6174ff;
  color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  border-radius: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  padding: 15px 60px;
}

.mac-btn:hover {
  opacity: 0.75;
}

.snippets {
  margin: 160px auto 140px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.access {
  margin: 0 auto 130px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.workflow {
  margin: 0 auto 40px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.pc-img,
.devices {
  width: 100%;
}

.snippets h2,
.access h2,
.workflow h2,
.available h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -0.456522px;
  color: #4c545c;
  text-align: center;
}

.cloud,
.access p,
.workflow p,
.available p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.12px;
  color: #9eabb2;
  margin: 16px auto 64px auto;
  width: 90%;
  text-align: center;
}

.access p {
  width: 92%;
}

.workflow p {
  margin: 12px auto 45px auto;
}

.available p {
  margin: 16px auto 48px auto;
}

.available h2 {
  width: 90%;
}

.characteristics {
  margin-top: 54px;
  text-align: center;
}

.characteristics h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.391304px;
  color: #4c545c;
}

.characteristics p {
  margin: 10px auto 48px auto;
  width: 90%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.12px;
  color: #9eabb2;
}

.workflow-items {
  display: flex;
  flex-direction: column;
}

.workflow-items section {
  text-align: center;
}

.workflow-items section h3 {
  margin-top: 40px;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.391304px;
  color: #4c545c;
}

.workflow-items section p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.12px;
  color: #9eabb2;
  width: 93%;
}

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
}

.companies img {
  margin-bottom: 60px;
}

.available {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 170px auto;
  width: 90%;
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 12px auto;
  width: 90%;
}

.page-footer img {
  height: 55px;
  width: 55px;
  margin-bottom: 20px;
}

.links {
  margin-top: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.135px;
  color: #4c545c;
}

.social-icons {
  margin-top: 48px;
}

.social-icons img {
  height: 25px;
  width: 25px;
}

.twitter {
  margin-left: 40px;
  margin-right: 40px;
}

footer a {
  text-decoration: none;
  color: orangered;
}

.paminos {
  color: orangered;
  font-weight: 600;
}

footer {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: goldenrod;
  margin-top: 48px;
  margin-bottom: 16px;
}
